@font-face {
    font-family: "Poppins";
    src: url("/Fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "CalSans";
    src: url("/Fonts/CalSans-SemiBold.ttf");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "CalSans";
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15 px;
}

ul li {
    list-style: none;
}

.form__input {
    padding: 10px 15px;
    width: 980px;
}

.title{
    padding: 15px;
}

.input__wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.form__button{
    width: 200px;
    cursor: pointer;
    padding: 15px 30px;
    background-color: #FF6428;
    line-height: 18px;
    line-height: 100%;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
}

.form__button:hover{
    background-color: #b14b23;
}

.form__button:active{
    background-color: #723821;
}

.title__hint{
    text-align: center;
    font-size: 25 px;
    padding: 25px 0px;
}

.lists {
    padding-top: 20px;
    font-size: 20px;
}

.list{
    padding: 5px 10px;
    border: 1px solid rgb(51, 50, 50);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-word;
    gap: 15px;
}

.list span{
    display: inline-block;
    padding: 0.5 rem;
    width: 100%;
    border-radius: 4px;
    border: 2px solid transparent;
}

.list span:focus{
    outline: 0;
    border: 1px solid rgb(102, 102, 224);
    background: rgb(207, 207, 230);
}

.list span:hover{
    background: #cce9eb;
    cursor: pointer;
}

.button__remove{
    width: 200px;
    padding: 10px 15px; 
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.button__remove:hover{
    background-color: rgb(202, 55, 55);
}

.button__remove:active{
    background-color: rgb(145, 3, 3);
}

.progressbar{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 3px;
    margin-top: 20px;
    border: 1px solid black;
    position: relative;
}

.progressbar__result{
    width: 0;
    background-color:  #FF6428;
    height: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

.progressbap__percent{
    width: 100%;
    justify-content: center;
    position: absolute;
    display: flex;
    transform: translate(10px, -18px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__wrapper{
    width: auto;
}

.select{
    width: 200px;
    height: 30px;
    margin-right: 20px;
}

.button__all{
    height: 100%;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    background-color: red;
    color: white;
}

.input__search{
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
}

.input__search-wrapper{
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.button__save-ls{
    cursor: pointer;
    color: white;
    border: none;
    background: rgb(36, 209, 36);
    padding: 5px 10px;
}

.button__save-ls:active{
    background: rgb(8, 110, 8);
}
