.soModalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
 
.soModalDialog:target {
    display: block;
    pointer-events: auto;
}
 
.soModalDialog > div {
    max-width: 400px;
    margin: 10% auto;
}
 
.soModalDialog > div > div {
    margin: 0 10px;
    padding: 5px 20px 13px 20px;
    background: #fff;
    position: relative;
}
 
.soModalDialog .close {
    
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align:center ;
    top: 5px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    
}

 
.close:hover {
    
    background: #606061;
    color: #FFFFFF;
}

.btn-contaner{
    text-align: right;

}

.btn1{
    border: 0;
    background: green;
    color: #fff;
}
.btn2{
    border: 0;
    background: red;
    color: #fff;
}